:root
{
  --navbar-height: 60px;
  --navbar-text-size: 32px;
  --navbar-background-color: #C9A7CF;
  --navbar-background-color-hover: #AB87BA;
  --navbar-text-color: #210E3F;

  --footer-height: 30px;
  --footer-text-size: 14px;
  --footer-background-color: #C9A7CF;
  --footer-text-color: #210E3F;

  --scrolling-text-size: 14px;

  --text-color: #210E3F;
  --text-size: 20px;
}

body
{
  font-family: 'Ubuntu', sans-serif;
}

/* Header & Footer */

.navigation, .footer
{
  text-align: center;
  overflow: hidden;

  left: 0%;
  width: 100%;
  z-index: 9999;
}

.navigation
{
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
  font-weight: 700;

  border-bottom: 2px solid black;

  position: fixed;

  top: 0%;
  padding: calc((var(--navbar-height) - var(--navbar-text-size)) / 2);
  font-size: var(--navbar-text-size);
}

.footer
{
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  font-weight: 300;

  border-top: 2px solid black;

  position: fixed;

  bottom: 0%;
  padding: calc((var(--footer-height) - var(--footer-text-size)) / 2);
  font-size: var(--footer-text-size);
}

.navigation a
{
  text-align: center;

  padding: 5px 1.5%;
  margin: .5%;
}

.navigation a:link
{
  text-decoration: none;
  color: var(--navbar-text-color);
}

.navigation a:visited
{
  text-decoration: none;
  color: var(--navbar-text-color);
}

.navigation a:hover
{
  text-decoration: none;

  background-color: var(--navbar-background-color-hover);
  color: var(--navbar-text-color);
}

.navigation a:active
{
  text-decoration: none;
  color: var(--navbar-text-color);
}

/* Main Site Content */

#Body
{
  background-color: #FADDFF;
  color: var(--text-color);

  width: 80%;
  max-width: 1000px;
  height: calc(100% - (var(--navbar-height) + var(--footer-height)));

  font-size: var(--text-size);
  font-weight: 300;

  position: absolute;
  overflow: auto;

  top: var(--navbar-height);
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px 15px 10px 15px;
}

#Body .center-text
{
  text-align: center;
}

#Portrait
{
  display: block;
  text-align: center;

  height: 60%;
  min-height: 300px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 15px;
  padding-bottom: 5px;
}

/* Animated Text */

.scroll-left, .scroll-right
{
  position: relative;
  overflow: hidden;
}

.scroll-left p, .scroll-right p
{
  text-align: center;
  position: relative;

  width: 100%;
  margin: 0;

  font-size: var(--scrolling-text-size);
}

.scroll-left p
{
  transform:translateX(80%);
  animation: scroll-left 40s linear infinite;
}

.scroll-right p
{
  transform:translateX(-80%);
  animation: scroll-right 40s linear infinite;
}

@keyframes scroll-left
{
  0%
  {
    transform: translateX(80%);
  }
  100%
  {
    transform: translateX(-80%);
  }
}


@keyframes scroll-right
{
  0%
  {
    transform: translateX(-80%);
  }
  100%
  {
    transform: translateX(80%);
  }
}
