:root
{
  /* Default color mode values (same as color mode 0) */
  --primary-color: #FADDFF;
  --primary-color-hover: #E0B2F7;
  --secondary-color: #C9A7CF;
  --secondary-color-hover: #AB87BA;
  --outline-color: #210E3F;
  --text-color: #210E3F;

  --navbar-height: 60px;
  --footer-height: 30px;

  --navbar-text-size: 32px;
  --footer-text-size: 14px;
  --text-size: 20px;
  --scrolling-text-size: 14px;

  --transition-length: 300ms;
}

body
{
  font-family: 'Ubuntu', sans-serif;
}

#Screen-transition
{
  background-color: white;

  position: fixed;

  opacity: 100%;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  pointer-events: none;
}

#Screen-transition.hide
{
  animation: fade-out var(--transition-length) linear forwards;
}

#Screen-transition.show
{
  animation: fade-in var(--transition-length) linear forwards;
}

@keyframes fade-out
{
  0%
  {
    opacity: 100%;
  }
  100%
  {
    opacity: 0%;
  }
}

@keyframes fade-in
{
  0%
  {
    opacity: 0%;
  }
  100%
  {
    opacity: 100%;
  }
}

/* Header & Footer */

.navigation, .footer
{
  text-align: center;
  overflow: hidden;

  position: fixed;

  left: 0%;
  width: 100%;
  z-index: 9997;
}

.navigation
{
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-weight: 700;

  border-bottom: 2px solid var(--outline-color);

  top: 0%;
  padding: calc((var(--navbar-height) - var(--navbar-text-size)) / 2);
  font-size: var(--navbar-text-size);
}

.footer
{
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-weight: 300;

  display: flex;
  justify-content: space-between;

  border-top: 2px solid var(--outline-color);

  bottom: 0%;
  padding: calc((var(--footer-height) - var(--footer-text-size)) / 2);
  font-size: var(--footer-text-size);
}

.footer-text
{
  width: 15%;
}

.footer-seperator
{
  width: 1%;
}

.navigation a
{
  text-align: center;

  padding: 5px 1.5%;
  margin: .5%;
}

.navigation a:link
{
  text-decoration: none;
  color: var(--text-color);
}

.navigation a:visited
{
  text-decoration: none;
  color: var(--text-color);
}

.navigation a:hover
{
  text-decoration: none;

  background-color: var(--secondary-color-hover);
  color: var(--text-color);
}

.navigation a:active
{
  text-decoration: none;
  color: var(--text-color);
}

.footer a:link
{
  color: var(--text-color);
}

.footer a:visited
{
  color: var(--text-color);
}

.footer a:hover
{
  color: var(--text-color);
}

.footer a:active
{
  color: var(--text-color);
}

.footer #colormode-toggle, .footer #particles-toggle
{
  user-select: none;
}

.footer #colormode-toggle:hover, .footer #particles-toggle:hover
{
  background-color: var(--secondary-color-hover);
}

/* Background */

#Background-Gradient, #Background-Particles
{
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Background-Image
{
  position: fixed;

  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);

  background-image: url("../images/Background.png");
  background-position: right 0% top 0%;

  filter: blur(2px);
}

#Background-Particles
{
  filter: blur(1px);
}

/* Main Site Content */

#Body
{
  background-color: var(--primary-color);
  color: var(--text-color);

  width: 80%;
  max-width: 1000px;
  height: calc(100% - (var(--navbar-height) + var(--footer-height)) - 30px);

  font-size: var(--text-size);
  font-weight: 300;

  border-left: 2px solid var(--outline-color);
  border-right: 2px solid var(--outline-color);

  position: absolute;
  overflow: auto;

  top: var(--navbar-height);
  bottom: var(--footer-height);
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px 15px 15px 15px;

  transition: filter 200ms linear;
}

.blurred-body
{
  filter: blur(3px);
}

#Body .left-text
{
  text-align: left;
}

#Body .center-text
{
  text-align: center;
}

#Body .right-text
{
  text-align: right;
}

#Body .image-left, #Body .image-right
{
  border: 2px solid var(--outline-color);

  width: 30%;
  margin: 10px 10px 10px 10px;
}

#Body .image-left, .float-left
{
  float: left;
}

#Body .image-right, .float-right
{
  float: right;
}

#Portrait
{
  display: block;
  text-align: center;

  height: 60%;
  min-height: 300px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 15px;
  padding-bottom: 5px;
}

/* Art Page Popup */

#Popup
{
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 500;

  position: fixed;
  text-align: center;

  border: 2px solid var(--outline-color);

  left: 50%;
  top: 50%;
  width: 33%;
  transform:translate(-50%, -50%);

  padding: 4px 8px 8px 8px;

  transition: opacity 300ms linear;

  z-index: 9998;
}

.popup-hidden
{
  opacity: 0%;

  pointer-events: none;
}

.popup-visible
{
  opacity: 100%;
}

#Popup-header
{
  background-color: var(--secondary-color);

  line-height: 50px;

  border-bottom: 2px solid var(--outline-color);

  left: 0;
  width: 100%;
  height: 50px;
}

#Popup img
{
  width: 100%;
}

/* Art Grid */

#Art-grid
{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.art-grid-column
{
  flex: 23.75%;

  margin: 0px 4px 0px 4px;
}

.art-grid-column img
{
  vertical-align: middle;

  margin-bottom: 8px;
}

/* Music Grid */

#Music-grid
{
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  padding: 0 4px;
}

.music-grid-column
{
  flex: 33%;
}

.music-grid-cell
{
  text-align: left;

  margin-bottom: 25px;
  margin-right: 20px;
}

.music-grid-cell-header
{
  background-color: var(--secondary-color);

  border-bottom: 2px solid var(--outline-color);

  left: 0;
  width: 100%;
  height: 20px;
  padding: 5px;
}

.music-grid-cell-header-name
{
  font-weight: 500;
  float: left;
}

.music-grid-cell-header-year
{
  float: right;
}

.music-grid-cell audio
{
  display: block;

  margin: 0 auto;
}

.music-grid-cell-description
{
  padding: 10px 5px 0px 5px;
}

#Body a:link
{
  color: var(--text-color);
}

#Body a:visited
{
  color: var(--text-color);
}

#Body a:hover
{
  color: var(--text-color);
}

#Body a:active
{
  color: var(--text-color);
}

.music-grid-cell audio
{
  display: block;

  margin-top: 10px;
}

/* Link Grid */

#Link-grid
{
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  padding: 0 4px;
}

.link-grid-column
{
  flex: 45%;

  width: 100%;
  margin: 10px;
}

.link-grid-cell
{
  background-color: var(--primary-color);

  text-align: left;

  width: 100%;
  height: 30%;
}

.link-grid-cell-header
{
  background-color: var(--secondary-color);
  font-weight: 500;

  text-align: center;

  border-bottom: 2px solid var(--outline-color);

  width: 60%;
  height: 20px;
  padding: 5px;

  float: right;
}

.link-grid-cell-image
{
  float: left;
  width: 33%;
}

.link-grid-cell-description
{
  float: left;

  width: 60%;
  padding: 10px 5px 5px 15px;
}

/* Project Grid */

#Project-grid
{
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  padding: 0 4px;
}

.project-grid-column
{
  width: 100%;
  margin: 10px;
}

.project-grid-cell
{
  display: block;
  background-color: var(--primary-color);

  text-align: left;

  width: 100%;
  min-height: 230px;
  margin-bottom: 30px;
}

.project-grid-cell-header
{
  background-color: var(--secondary-color);
  font-weight: 500;

  text-align: center;

  border-bottom: 2px solid var(--outline-color);

  width: 100%;
  height: 20px;
  padding: 5px;
}

.project-grid-cell-image
{
  border: 2px solid var(--outline-color);

  width: 33%;
  margin: 10px;
}

.project-grid-cell-description
{
  width: 99%;
  padding: 10px 20px 5px 15px;
}

/* Animated Text */

.scroll-left, .scroll-right
{
  position: relative;
  overflow: hidden;
}

.scroll-left p, .scroll-right p
{
  text-align: center;
  position: relative;

  width: 100%;
  margin: 0;

  font-size: var(--scrolling-text-size);
}

.scroll-left p
{
  transform:translateX(80%);
  animation: scroll-left 40s linear infinite;
}

.scroll-right p
{
  transform:translateX(-80%);
  animation: scroll-right 40s linear infinite;
}

@keyframes scroll-left
{
  0%
  {
    transform: translateX(80%);
  }
  100%
  {
    transform: translateX(-80%);
  }
}


@keyframes scroll-right
{
  0%
  {
    transform: translateX(-80%);
  }
  100%
  {
    transform: translateX(80%);
  }
}
