body {
    background-image:url("../images/psy.png")
    background-repeat: repeat;
    background-position: 0% 0;  
}

#topbar, #extras {
    background-color: #775566;
    color: #EECCDD;
    width: 15%;
    position: fixed;
}

#topbar {
    text-align: center;
    top: 0;
    height: 8%;
}

#extras {
    text-align: left;
    background-color: #664455;
    top: 8%;
}

#extras ul {
    padding: 0;
    border: 0;
}

#extras li {
    list-style-type: none;
    padding: 10px;
    transition: background 0.2s linear;
}

#extras li:hover {
    background-color: #775566;
}