:root
{
  --navbar-height: 40px;
  --footer-height: 40px;
}

.navigation
{
  background-color: #AAAAAA;

  position: fixed;
  text-align: center;
  overflow: hidden;

  left: 0%;
  top: 0%;
  width: 100%;
  z-index: 9999;
  height: var(--navbar-height);
}

.navigation a
{
  background-color: #696969;

  position: relative;
  text-align: center;
}

#Body
{
  position: absolute;
  top: var(--navbar-height);
  padding-bottom: var(--footer-height);
}

.footer
{
  background-color: #AAAAAA;
  position: fixed;

  left: 0%;
  bottom: 0%;
  width: 100%;
  z-index: 9999;
  height: var(--footer-height);
}
